{{!< default}}
{{#post}}
<article id="{{slug}}">
	<header>
		<h1>
			<a href="{{url}}" title="{{title}}">{{{title}}}</a>
		</h1>
		<br />
		<small><time datetime="YYYY-MM-DD">{{date format="DD MMMM YYYY"}}</time></small>
	</header>
	{{content}}
	<small class="tags">{{tags prefix=" On "}}</small>
</article>
{{/post}}